main{
    display:grid;
    grid-template-columns: 300px 700px;
}
.left-section
{
    background-color: grey;
}
.right-section
{
    background-color:aquamarine;
}
.left-content
{
    padding: 1rem;
}
.profile-image
{
    display:block;
    margin: auto;
}